.button {
	@extend .transition-active;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid rgba(#000, 0.3);
	height: 40px;
	cursor: pointer;
	// letter-spacing: -0.5px;
	padding: 1px 30px 0;
	border-radius: 3px;

	&:hover {
		background-color: rgba(#000, 0.3);
		color: rgba(#000, 0.8);
		transition: none;
	}

	&:active {
		background-color: rgba(#000, 0.25);
		border-color: rgba(#000, 0.25);

		.button__chevron-right {
			transform: translateX(1px);
			transition: none;
		}
	}

	&__chevron-right {
		margin-left: 5px;
		transition: transform 0.1s ease-out,
			fill $default-transition-duration $default-transition-function;
	}

	&_primary {
		background-color: $color;
		border-color: $color;
		color: #fff;

		&:hover {
			background-color: transparent;
			color: $color;
		}
	}

	&_light {
		background-color: transparent;
		border-color: #cfcfcf;

		&:hover {
			background-color: #cfcfcf;
		}
	}

	&_centered {
		margin: 0 auto;
	}

	&_xs {
		padding-left: 13px;
		padding-right: 13px;
		height: 30px;
	}
}
